#age-verify-wrapper{
  height: 100vh;
  background-image: url(images/asfalt.png);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2600;
  
  
  #age-verify-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
  
  h3{
    padding-bottom: 30px;
  }
  
  #age-verify-logo{
    width: 50%;
  }
  
  #dm-age-month,
  #dm-age-day,
  #dm-age-year{
    border-radius: 0px;
    opacity: 0.9;
    font-family: $pFont;
    margin-bottom: 10px;
  }
  
  #check-age-button{
      border: 3px double $yellow;
      background-color: transparent;
      font-family: $hFont;
      text-transform: uppercase;
      border-radius: 0;
      margin-top: 30px;
      padding: 15px;
      transition: all .5s;
    
      &:hover{
          transform: scale(1.1,1.1);
          background-color: $yellow;
          color: $charcoal;
          border-color: $charcoal;
        }
  }
  
  #dm-verify-message{
    margin-top: 20px;
    font-size: 28px;
    line-height: 24px;
    min-height: 24px;
  }
}

@media(max-width: 320px){
  
  #age-verify-wrapper #dm-verify-message{
    font-size: 20px;
  }
}