#section-cat-brand-select{
  position: relative;
  
  h3{
    margin-bottom: 15px;
  }
  
  a{
    text-decoration: none;
  }
  
  .cat-select-logo-wrapper{
    width: 12%;
    display: inline-block;
    opacity: 0.5;
    
    &.active-category-logo{
      opacity: 1;
    }
    
    img{
      width: 100%;
      height: auto;
      transition: all .2s;
      
      &:hover{
        transform: scale(1.1,1.1);
      }
    }
  }
}