@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:700|Lato:400,300';

$hFont: 'Roboto Slab', Times New Roman, serif;
$pFont: 'Lato', Veranda, sans-serif;

.font-white{
  color: #FFFFFF!important;
}

.font-yellow{
  color: #fcc328!important;
}

.font-slab{
  font-family: 'Roboto Slab', Times New Roman, serif;
}