#myModal{
  width: 100%;
  
  .modal-dialog{
    width: 990px;
    
    .modal-content{
      background-image: url(images/Cutout-BG.png);
      background-color: transparent;
      background-size: cover;
      box-shadow: none;
      border: none;
      border-radius: 0;
      
      .modal-header{
        padding-bottom: 0;
        border: 0;
      }
      
/*      .modal-body{
        background-image: url(images/Cutout-BG.png);
        background-color: transparent;
        background-size: cover;
        box-shadow: none;
        border: none;
        border-radius: 0;
      }*/
    }
    
    #masterslider2{
      
      .ms-view{
        background-color: transparent;
        
        .ms-slide-container{
          
          .ms-slide{
            padding: 0px;
            
            .slider-pouch-image{
              padding-bottom: 15px;
            }
            
            .col-md-4{
              padding: 0;
              
              &:nth-of-type(2){
              }
              
              &:nth-of-type(3){
              }
              
            }
            
            h4{
              color: $charcoal;
              display: inline-block;
              margin-top: 15px;
            }
            
            p{
              font-size: 16px;
              line-height: 18px;
              margin-top: 10px;
            }
          }
        }
      }
      
      .ms-thumb-frame{
        background-color: transparent;
        border: none;
      }
      
    }
    
    .ms-nav-prev{
      left: -40px;
    }
    
    .ms-nav-next{
      right: -40px;
    }
  }
}

@media(min-width: 1024px){
  
  .modal {
    text-align: center;
    padding: 0!important;
    
    h4{
      font-size: 28px;
    }
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
}