#int-page-wrapper{
  min-height: 100vh;
  background-image: url(images/Good-Times-Tobacco-Concrete-BG.jpg);
  background-attachment: fixed;
  padding-bottom: 100px;
  
  #int-page-body{
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    
  }
  
  #int-page-jumbotron{
    position: relative;
    
    #int-page-title{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  #brand-sidebar-list{
      
    list-style-type: none;
    padding-left: 0;
    
    a > li{
      height: 80px;
      background-size: cover;
      background-position: center center;
      max-width: 200px;
      text-align: center;
      margin-bottom: 15px;
      transition: all .5s;
      
      &:hover{
        background-color: rgba(0,0,0,0.2);
      }
      
      
      img{
        
      }
    }
  }
  
}