#section-single-product{
  background-image: url(images/Good-Times-Tobacco-Concrete-BG.jpg);
  background-size: cover;
  min-height: 50vh;
  
  .container{
    
    .row{
      
      .col-md-6:first-of-type{
        padding-top: 90px;
        text-align: center;
      }
      
      .col-md-6:nth-of-type(2){
        
        #single-product-title{
          display: inline-block;
          background-color: rgba(255,255,255,0.5);
          color: $charcoal;
          padding: 20px;
          margin-bottom: 30px;
        }
      }
      
      #btn-similar-products{
        border: 3px double $charcoal;
        color: $charcoal;
        background-color: $yellow;
        font-family: $hFont;
        text-transform: uppercase;
        border-radius: 0;
        transition: all .5s;
        min-width: 200px;
        padding: 30px;
      }
    }
  }
}

@media(min-width: 768px){
  
}

@media(min-width: 996px){
  
}

@media(min-width: 1200px){
  
  #section-single-product{
    height: 100vh;
    
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      .row{
        
        &:first-of-type{
          margin-bottom: 30px;
        }

        .col-md-6:first-of-type{
          text-align: right;
          padding-top: 0;
        }
        
        .col-md-6:nth-of-type(2){

        }
      }
    }
  }
}