.tweet-list{
  
  #twitter-column-2,
  #twitter-column-3,
  #twitter-column-4{
    display: none!important;
  }
  
  .tweet-wrapper{
    
    .tweet-thumb{
      padding: 10px;
      background-color: #222;
      
      .tweeter-name{
        display: inline-block;
        margin-left: 5px;
      }
    }
      
    .tweet-content{
      background-color: rgba(0,0,0,0.8);
      padding: 10px;
      
      a{
        color: $yellow;
      }
    }
  }
  
}

@media(min-width: 768px){
  
  .tweet-list{
    
    #twitter-column-2,
    #twitter-column-3,
    #twitter-column-4{
      display: block!important;
    }
    
  
    .tweet-wrapper{

      .tweet-thumb{
        padding: 10px;
        background-color: #222;

        .tweeter-name{
          display: inline-block;
          margin-left: 5px;
        }
      }

      .tweet-content{
        background-color: rgba(0,0,0,0.8);
        padding: 10px;
        min-height: 200px;
        word-break: break-word;

        a{
          color: $yellow;
        }
        
      }
      
      .tweet-meta{
        margin-bottom: 20px;
        padding: 5px;
        background-color: $yellow;
        
        p{
          margin: 0;
          color: $charcoal;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
  
}

@media(min-height: 996px){
  
}

@media(min-height: 1200px){
  
}